<p>login works!</p>

<form #fr="ngForm" (submit)="MyLoginFunction(fr.value)" >
  <div style="margin: 200px, width: 500px">
    <label>UserName</label>
    <input
      type="text"
      ngModel
      #u="ngModel"
      [class.a]="u.invalid"
      [class.b]="u.valid"
      required
      pattern="[a-z]+"
      class="form-control"
      name="email"
    />
    <div style="color: white; background-color: red;">
    <div *ngIf="u.errors?.['required'] && u.touched">Enter Username</div>
    <div *ngIf="u.errors?.['pattern'] && u.touched">Enter only Alphebets</div>
    </div>
    <label>PassWord</label>
    <input type="password" ngModel class="form-control" name="password" />
    {{ fr.value | json }} <br />
    New User?<input
      type="button"
      class="btn btn-info"
      value="Login"
      (click)="MyLoginFunction(fr.value)"
    />
    <a routerLink="/register" class="btn btn-info">Click Here</a>
    <p [class]="applycss().c">{{ message }}</p>

  </div>
  {{isEmployee | json}}
</form>
