<p>manager works!</p>

<table
  style="width: 100%; display: table; border: 1px solid black; margin-top: 20px"
>
  <tr style="background-color: green; color: white; font-size: large">
    <th>EmployeeId</th>
    <th>EmployeeName</th>
  </tr>
  <tr *ngFor="let emp of employees">
    <td>{{ emp.employeeId }}</td>
    <td>{{ emp.employeeName }}</td>
    <td>
      <button (click)="getEmpCourses(emp.employeeId)">
        Show Employee Courses
      </button>
    </td>
  </tr>
</table>

  <table
    style="
      width: 100%;
      display: table;
      border: 1px solid black;
      margin-top: 20px;
    "
  >
    <tr style="background-color: green; color: white; font-size: large">
      <th>EmployeeName</th>
      <th>EmployeeId</th>
      <th>CourseName</th>
    </tr>
    <tr *ngFor="let course of employeeCourses">
      <td>{{ course.employeeName }}</td>
      <td>{{ course.employeeId }}</td>
      <td>{{ course.courseName }}</td>
      <td><button (click)="approveCourse(course.courseId, course.employeeId)">Approve</button></td>
      <!-- <p>chech the code here</p> -->
      <td>
        <button (click)="rejectCourse(course.courseId, rejectedReason, course.employeeId)">Reject</button>
      </td>
      <td>
        <input type="text" name="reason" />
      </td>
      <!-- <p>chech the code here</p> -->
    </tr>
  </table>
