<button
  (click)="GetCourses()"
  class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
>
  GetCourses
</button>

@if(this.o.courses.length != 0) {
<button
  (click)="SubmitCourses()"
  class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
>
  Submit Courses
</button>

<h1>Number of courses added : {{ this.o.courses.length }}</h1>
}

<!-- <p>{{ courses | json }}</p> -->
<div class="flex justify-between flex-wrap mx-2">
  @for (item of courses; track $index) {
  <app-card
    [courseId]="item.courseId"
    [courseName]="item.courseName"
    [startDate]="item.startDate"
    [endDate]="item.endDate"
  ></app-card>
  }
</div>
