<p>hr works!</p>

<table
  style="width: 100%; display: table; border: 1px solid black; margin-top: 20px"
>
  <tr style="background-color: green; color: white; font-size: large">
    <th>courseId</th>
    <th>courseName</th>
    <th>startdate</th>
    <th>enddate</th>
  </tr>
  <tr *ngFor="let emp of employees">
    <td>{{ emp.courseId }}</td>
    <td>{{ emp.courseName }}</td>
    <td>{{ emp.startDate | date }}</td>
    <td>{{ emp.endDate | date }}</td>
  </tr>
</table>

<form #fr="ngForm" (ngSubmit)="onSubmit(fr.value)">
  <input
    type="text"
    name="CourseName"
    ngModel
    required
    class="shadow appearance-none border rounded w-70 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    placeholder="courseName"
  />
  <input
    type="date"
    name="StartDate"
    ngModel
    class="shadow appearance-none border rounded w-50 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    required
    placeholder="startDate"
  />
  <input
    type="date"
    name="EndDate"
    class="shadow appearance-none border rounded w-50 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    ngModel
    required
    placeholder="endDate"
  />
  <button
    type="submit"
    [disabled]="fr.invalid"
    class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
  >
    Add
  </button>
</form>
